@* @model TGNH.Panel.Models.DashbordViewModel


@{
    Layout = "_Layout.cshtml";
}
 <p>Welcom to the admin panel</p> *@

@*  <nav class="horizontal-menu">
     <ul>
         <li><a href="/">Dashbord</li>
         <li><a href="/">Users</a></li>
         <li><a href="/">Post</a></li>
         <li><a href="/">Settings</a></li>
     </ul>
 </nav> *@

@*  <div>
    <h2>Dashbord Overview</h2>
    <p>Total User: @Model.TotalUsers</p>
    <p>Total Post: @Model.TotalPost</p>
    <p>Total Comment: @Model.TotalComments</p>
 </div> *@