################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TGNH/.vs/TGNH
/TGNH/TGNH.Panel/bin/Debug/net8.0
/TGNH/TGNH.Panel/obj
/TGNH/Application/obj/Debug/net8.0
/TGNH/API/obj
/TGNH/Domain/obj
/TGNH/Domain.Test/obj
/TGNH/KHN/obj
/TGNH/KHN.Logging/obj
/TGNH/KHN.Test/obj
/TGNH/Persistence/obj
/TGNH/Resources/obj
/TGNH/ViewModel/obj
/TGNH/API/bin/Debug/net8.0
/TGNH/Application/bin/Debug/net8.0
/TGNH/Persistence/bin/Debug/net8.0
/TGNH/TGNH/bin/Debug/net8.0
/TGNH/TGNH/obj
/TGNH/TGNH.Logging/bin/Debug/net8.0
/TGNH/TGNH.Logging/obj
/TGNH/TGNH.Test/bin/Debug/net8.0
/TGNH/TGNH.Test/obj
/TGNH/ViewModel/bin/Debug/net8.0
