<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">
    <nav id="sidebar">
        <div class="navbar-nav theme-brand flex-row  text-center">

            <!-- <partial name="Layouts/Cork/Rtl/Horizontal_Dark_Menu/PartialViews/_Logo_Sidebar" /> -->

<div class="nav-logo">
    <div class="nav-item theme-logo">
        <a href="./index.html">
            <img src="~/Cork/rtl/src/assets/img/logo.svg" class="navbar-logo" alt="logo">
        </a>
    </div>
    <div class="nav-item theme-text">
        <a href="./index.html" class="nav-link"> CORK </a>
    </div>
</div>


<div class="nav-item sidebar-toggle">
    <div class="btn-toggle sidebarCollapse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
    </div>
        </div>
        </div>
    <div class="shadow-bottom"></div>
        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu active">
                <a href="#dashboard" data-bs-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        <span>داشبورد</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled dropdown-menu-end" id="dashboard" data-bs-parent="#accordionExample">
                    <li class="active">
                        <a href="./index.html"> تحلیل ها </a>
                    </li>
                    <li>
                        <a href="./index2.html"> فروش </a>
                    </li>
                </ul>
            </li>

            <li class="menu menu-heading">
                <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>برنامه ها</span></div>
            </li>

            <li class="menu">
                <a href="#apps" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cpu"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="14" x2="4" y2="14"></line></svg>
                        <span>برنامه ها</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled dropdown-menu-end" id="apps" data-bs-parent="#accordionExample">
                    <li>
                        <a href="./app-calendar.html"> تقویم </a>
                    </li>
                    <li>
                        <a href="./app-chat.html"> گفتگو </a>
                    </li>
                    <li>
                        <a href="./app-mailbox.html"> جعبه پست </a>
                    </li>
                    <li>
                        <a href="./app-todoList.html"> فهرست وظایف </a>
                    </li>
                    <li>
                        <a href="./app-notes.html"> یادداشت ها </a>
                    </li>
                    <li>
                        <a href="./app-scrumboard.html"> صفحه برنامه ریزی </a>
                    </li>
                    <li>
                        <a href="./app-contacts.html"> مخاطبین </a>
                    </li>
                    <li class="sub-submenu dropstart">
                        <a href="#invoice" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed">فاکتور <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="invoice">
                            <li>
                                <a href="./app-invoice-list.html"> لیست </a>
                            </li>
                            <li>
                                <a href="./app-invoice-preview.html"> پیش نمایش </a>
                            </li>
                            <li>
                                <a href="./app-invoice-add.html"> افزودن </a>
                            </li>
                            <li>
                                <a href="./app-invoice-edit.html"> ویرایش </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-submenu dropstart">
                        <a href="#ecommerce" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed">تجارت الکترونیک <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="ecommerce" data-bs-parent="#apps">
                            <li>
                                <a href="./app-ecommerce-product-shop.html"> فروشگاه </a>
                            </li>
                            <li>
                                <a href="./app-ecommerce-product.html"> محصول </a>
                            </li>
                            <li>
                                <a href="./app-ecommerce-product-list.html"> لیست </a>
                            </li>
                            <li>
                                <a href="./app-ecommerce-product-add.html"> ایجاد کردن </a>
                            </li>
                            <li>
                                <a href="./app-ecommerce-product-edit.html"> ویرایش </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-submenu dropstart">
                        <a href="#blog" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed">مقاله <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="blog" data-bs-parent="#apps">
                            <li>
                                <a href="./app-blog-grid.html"> شبکه </a>
                            </li>
                            <li>
                                <a href="./app-blog-list.html"> لیست </a>
                            </li>
                            <li>
                                <a href="./app-blog-post.html"> پست </a>
                            </li>
                            <li>
                                <a href="./app-blog-create.html"> ایجاد کردن </a>
                            </li>
                            <li>
                                <a href="./app-blog-edit.html"> ویرایش </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="menu menu-heading">
                <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>رابط کاربری</span></div>
            </li>

            <li class="menu">
                <a href="#components" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                        <span>اجزا</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled dropdown-menu-end" id="components" data-bs-parent="#accordionExample">
                    <li>
                        <a href="./component-tabs.html"> برگه ها </a>
                    </li>
                    <li>
                        <a href="./component-accordion.html"> پنل ها  </a>
                    </li>
                    <li>
                        <a href="./component-modal.html"> مدال ها </a>
                    </li>
                    <li>
                        <a href="./component-cards.html"> کارت ها </a>
                    </li>
                    <li>
                        <a href="./component-bootstrap-carousel.html">کاروسل</a>
                    </li>
                    <li>
                        <a href="./component-splide.html">اسلایدر</a>
                    </li>
                    <li>
                        <a href="./component-sweetalert.html"> پیام های زیبا </a>
                    </li>
                    <li>
                        <a href="./component-timeline.html"> زمان بندی </a>
                    </li>
                    <li>
                        <a href="./component-notifications.html"> اعلان ها </a>
                    </li>
                    <li>
                        <a href="./component-media-object.html"> مولفه رسانه ای </a>
                    </li>
                    <li>
                        <a href="./component-list-group.html"> لیست گروهی </a>
                    </li>
                    <li>
                        <a href="./component-pricing-table.html"> جدول قیمت گذاری </a>
                    </li>
                    <li>
                        <a href="./component-lightbox.html"> جعبه نور </a>
                    </li>
                    <li>
                        <a href="./component-drag-drop.html"> کشیدن و رها کردن </a>
                    </li>
                    <li>
                        <a href="./component-fonticons.html"> آیکون فونت </a>
                    </li>
                    <li>
                        <a href="./component-flags.html"> آیکون پرچم </a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#elements" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                        <span>اجزا</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled dropdown-menu-end" id="elements" data-bs-parent="#accordionExample">
                    <li>
                        <a href="./element-alerts.html"> هشدار ها </a>
                    </li>
                    <li>
                        <a href="./element-avatar.html"> تصویر پروفایل </a>
                    </li>
                    <li>
                        <a href="./element-badges.html"> نشان ها </a>
                    </li>
                    <li>
                        <a href="./element-breadcrumbs.html"> پیش ساز ها </a>
                    </li>
                    <li>
                        <a href="./element-buttons.html"> دکمه ها </a>
                    </li>
                    <li>
                        <a href="./element-buttons-group.html"> مجموعه دکمه ها </a>
                    </li>
                    <li>
                        <a href="./element-color-library.html"> کتابخانه رنگ </a>
                    </li>
                    <li>
                        <a href="./element-dropdown.html"> منوی کشویی </a>
                    </li>
                    <li>
                        <a href="./element-infobox.html"> جعبه اطلاعات </a>
                    </li>
                    <li>
                        <a href="./element-loader.html"> بارگذار </a>
                    </li>
                    <li>
                        <a href="./element-pagination.html"> صفحه بندی </a>
                    </li>
                    <li>
                        <a href="./element-popovers.html"> پنجره های شناور </a>
                    </li>
                    <li>
                        <a href="./element-progressbar.html"> نوار پیشرفت </a>
                    </li>
                    <li>
                        <a href="./element-search.html"> جستوجو </a>
                    </li>
                    <li>
                        <a href="./element-tooltips.html"> راهنمای متنی </a>
                    </li>
                    <li>
                        <a href="./element-treeview.html"> نمای درختی </a>
                    </li>
                    <li>
                        <a href="./element-typography.html"> تایپوگرافی </a>
                    </li>
                </ul>
            </li>

            <li class="menu menu-heading">
                <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>جداول و فرم ها</span></div>
            </li>

            <li class="menu">
                <a href="#tables" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                        <span>جداول</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled dropdown-menu-end" id="tables" data-bs-parent="#accordionExample">

                    <li>
                        <a href="./table-basic.html"> جداول </a>
                    </li>

                    <li class="sub-submenu dropstart">
                        <a href="#datatable" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed"> جدول اطلاعات <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="datatable" data-bs-parent="#tables">
                            <li>
                                <a href="./table-datatable-basic.html"> پایه ایی </a>
                            </li>
                            <li>
                                <a href="./table-datatable-striped-table.html"> خط دار </a>
                            </li>
                            <li>
                                <a href="./table-datatable-custom.html"> سفارشی </a>
                            </li>
                            <li>
                                <a href="./table-datatable-miscellaneous.html"> متفرقه </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>

            <li class="menu">
                <a href="#forms" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
                        <span>فرم ها</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled dropdown-menu-end" id="forms" data-bs-parent="#accordionExample">
                    <li>
                        <a href="./form-bootstrap-basic.html"> پایه ایی </a>
                    </li>
                    <li>
                        <a href="./form-input-group-basic.html"> مجموعه ورودی </a>
                    </li>
                    <li>
                        <a href="./form-layouts.html"> طرح بندی </a>
                    </li>
                    <li>
                        <a href="./form-validation.html"> اعتبارسنجی </a>
                    </li>
                    <li>
                        <a href="./form-input-mask.html"> پوشش ورودی </a>
                    </li>
                    <li>
                        <a href="./form-tom-select.html"> انتخاب کننده </a>
                    </li>
                    <li>
                        <a href="./form-tagify.html"> برچسب ساز </a>
                    </li>
                    <li>
                        <a href="./form-bootstrap-touchspin.html"> کنترل عددی لمسی </a>
                    </li>
                    <li>
                        <a href="./form-maxlength.html"> حداکثر طول </a>
                    </li>
                    <li>
                        <a href="./form-checkbox.html"> جعبه انتخاب </a>
                    </li>
                    <li>
                        <a href="./form-radio.html"> دکمه انتخاب </a>
                    </li>
                    <li>
                        <a href="./form-switches.html"> کلیدها </a>
                    </li>
                    <li>
                        <a href="./form-wizard.html"> راهنما ها </a>
                    </li>
                    <li>
                        <a href="./form-fileupload.html"> آپلود فایل </a>
                    </li>
                    <li>
                        <a href="./form-quill.html"> ویرایشگر </a>
                    </li>
                    <li>
                        <a href="./form-markdown.html"> Markdown Editor </a>
                    </li>
                    <li>
                        <a href="./form-date-time-picker.html"> انتخاب کننده تاریخ و زمان </a>
                    </li>
                    <li>
                        <a href="./form-slider.html"> اسلایدر </a>
                    </li>
                    <li>
                        <a href="./form-clipboard.html"> کلیپ بورد </a>
                    </li>
                    <li>
                        <a href="./form-autoComplete.html"> تکیمل خودکار </a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#pages" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                        <span>صفحات</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled dropdown-menu-end" id="pages" data-bs-parent="#accordionExample">
                    <li>
                        <a href="./pages-knowledge-base.html"> پایگاه دانش </a>
                    </li>
                    <li>
                        <a href="./pages-faq.html"> پرسش های رایج </a>
                    </li>
                    <li>
                        <a href="./pages-contact-us.html"> فرم تماس </a>
                    </li>
                    <li>
                        <a href="./user-profile.html"> کاربران </a>
                    </li>
                    <li>
                        <a href="./user-account-settings.html"> تنظیمات حساب </a>
                    </li>
                    <li>
                        <a href="./pages-error404.html" target="_blank"> خطا </a>
                    </li>
                    <li>
                        <a href="./pages-maintenence.html" target="_blank"> پشتیبانی </a>
                    </li>
                    <li class="sub-submenu dropstart">
                        <a href="#login" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed"> ورود <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="login" data-bs-parent="#pages">
                            <li>
                                <a target="_blank" href="./auth-boxed-signin.html"> جعبه </a>
                            </li>
                            <li>
                                <a target="_blank" href="./auth-cover-signin.html"> پوشش </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-submenu dropstart">
                        <a href="#signup" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed"> ثبت نام <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="signup" data-bs-parent="#pages">
                            <li>
                                <a target="_blank" href="./auth-boxed-signup.html"> جعبه </a>
                            </li>
                            <li>
                                <a target="_blank" href="./auth-cover-signup.html"> پوشش </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-submenu dropstart">
                        <a href="#unlock" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed"> بازکردن <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="unlock" data-bs-parent="#pages">
                            <li>
                                <a target="_blank" href="./auth-boxed-lockscreen.html"> جعبه </a>
                            </li>
                            <li>
                                <a target="_blank" href="./auth-cover-lockscreen.html"> پوشش </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-submenu dropstart">
                        <a href="#reset" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed"> بازنشانی <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="reset" data-bs-parent="#pages">
                            <li>
                                <a target="_blank" href="./auth-boxed-password-reset.html"> جعبه </a>
                            </li>
                            <li>
                                <a target="_blank" href="./auth-cover-password-reset.html"> پوشش </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-submenu dropstart">
                        <a href="#twoStep" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed"> دو مرحله ایی <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="twoStep" data-bs-parent="#pages">
                            <li>
                                <a target="_blank" href="./auth-boxed-2-step-verification.html"> جعبه </a>
                            </li>
                            <li>
                                <a target="_blank" href="./auth-cover-2-step-verification.html"> پوشش </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#more" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                        <span>بیشتر</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="dropdown-menu submenu list-unstyled dropdown-menu-end" id="more" data-bs-parent="#accordionExample">

                    <li>
                        <a href="./map-leaflet.html"> نقشه ها </a>
                    </li>
                    <li>
                        <a href="./charts-apex.html"> نمودار ها </a>
                    </li>
                    <li>
                        <a href="./widgets.html"> ابزارک ها </a>
                    </li>
                    <li class="sub-submenu dropstart">
                        <a href="#layouts" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle collapsed"> طرح بندی <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                        <ul class="dropdown-menu list-unstyled sub-submenu" id="layouts" data-bs-parent="#more">
                            <li>
                                <a href="./layout-blank-page.html"> صفحه خالی </a>
                            </li>
                            <li>
                                <a href="./layout-empty.html"> صفحه بدون محتوا </a>
                            </li>
                            <li>
                                <a href="./layout-full-width.html"> تمام عرض </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a target="_blank" href="../../documentation/index.html"> مستندات </a>
                    </li>
                    <li>
                        <a target="_blank" href="../../documentation/changelog.html"> فهرست تغییرات </a>
                    </li>

                </ul>
            </li>

        </ul>

    </nav>

</div>
<!--  END SIDEBAR  -->