<!--  BEGIN NAVBAR  -->
<div class="header-container container-xxl">
    <header class="header navbar navbar-expand-sm expand-header">

        <a href="javascript:void(0);" class="sidebarCollapse">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
        </a>

        <partial name="Layouts/Cork/Ltr/Modern_Dark_Menu/PartialViews/_Search_Navbar" />

        <ul class="navbar-item flex-row ms-lg-auto ms-0">

            <partial name="Layouts/Cork/Ltr/Modern_Dark_Menu/PartialViews/_Language_Dropdown" />
            <partial name="Layouts/Cork/Ltr/Modern_Dark_Menu/PartialViews/_Theme_Toggle_Item" />
            <partial name="Layouts/Cork/Ltr/Modern_Dark_Menu/PartialViews/_Notification_Dropdown" />
            <partial name="Layouts/Cork/Ltr/Modern_Dark_Menu/PartialViews/_User_Profile_Dropdown" />

        </ul>
    </header>
</div>
<!--  END NAVBAR  -->