
<div class="d-flex breadcrumb-content">
    <div class="page-header">

        <div class="page-title"><h3>داشبورد تحلیل گر</h3></div>

        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">داشبورد</a></li>
                <li class="breadcrumb-item active" aria-current="page">تحلیل ها</li>
            </ol>
        </nav>

    </div>
</div>