<div class="layout-px-spacing">
    <div class="middle-content container-xxl p-0">

        <!--  BEGIN BREADCRUMBS  -->
        <div class="secondary-nav">
            <div class="breadcrumbs-container" data-page-heading="Analytics">
                <partial name="Layouts/Cork/Rtl/Horizontal_Dark_Menu/PartialViews/_Header" />
            </div>
        </div>
        <!--  END BREADCRUMBS  -->

    </div>
</div>