<div class="nav-logo">
    <div class="nav-item theme-logo">
        <a href="./index.html">
            <img src="~/Cork/rtl/src/assets/img/logo.svg" class="navbar-logo" alt="logo">
        </a>
    </div>
    <div class="nav-item theme-text">
        <a href="./index.html" class="nav-link"> CORK </a>
    </div>
</div>